body {
    background-color: rgb(151, 151, 151);
  }

  p { font-size: 135%; color: rgb(0, 0, 0); font-weight: bold; text-align: left;}
  p1 { font: 120%; color: rgb(67, 67, 67); text-align: left; }

  li.important { border-style: solid; display: inline-block; border-width: 1px; border-color: rgb(105, 0, 0); border-radius: 100%;}

  .center { display: block; margin: auto; }
  .centertext { text-align: right;}


figure {
  float: right;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  }
  figcaption{
  caption-side: bottom;
  }

